/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style the page title */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:darkorange;
}

/* Style headings in sections */
h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    color:darkorange;
}


/* Style paragraphs in sections */
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    color: #444444;
    line-height: 1.5;
    padding-bottom: 10;
}

/* Style the embedded video section */
.video {
    margin: 20px;
}

body {
    background-color: lightblue;
    text-align: middle;
    padding-left: 20px;
    padding-top: 20px;

}

/* Style the main content section */
.main-content {
    margin: 20px;
}

/* Style the iframe */
.iframeEmbed {
    top: 0;
    left: 20;
    width: 80%;
    height: 50%;
}

/* Style the reference links section */
.reference-links {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:darkblue;
}

/* Style links in the reference links section */
.reference-links a {
    text-decoration: none;
    color: #0073e6;
}

/* Change link color on hover */
.reference-links a:hover {
    color: #004580;
}